In [15]:
import pandas as pd
import numpy as np

# DataFrame.Apply function
print("DataFrame.apply function:\n")
info = pd.DataFrame([[2, 7]]*3, columns=['P', 'Q'])
print("\nOriginal DataFrame:\n", info)
print("\nSquare root of DataFrame:\n", info.apply(np.sqrt))
print("\nSum of each column:\n", info.apply(np.sum, axis=0))
print("\nSum of each row:\n", info.apply(np.sum, axis=1))

DataFrame.apply function:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

Square root of DataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each column:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [16]:
info = pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]], columns=['X','Y','Z'])
print("\nOriginal DataFrame:\n",info)
print("\nMinimum and Maximum of each column:\n")
print(info.agg(['min','max']))

Original DataFrame:
    X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9

Minimum and Maximum of each column:

     X  Y  Z
min  1  5  7
max  3  7  9

In [17]:
print("\nDataFrame.Assign function:\n")
d2 = pd.DataFrame([['Dale', 123], ['Mark', 143]], columns=['Emp', 'ID'])
print("\nOriginal DataFrame:\n", d2)
d2 = d2.assign(Age=[25, 30])
d2 = d2.assign(Sex='Male', Male=1)
print("\nAfter adding new columns:\n", d2)

DataFrame.Assign function:


Original DataFrame:
     Emp   ID
0  Dale  123
1  Mark  143

After adding new columns:
     Emp   ID  Age   Sex  Male
0  Dale  123   25  Male     1
1  Mark  143   30  Male     1

In [18]:
print("\nDataFrame.Sort function:\n")
info = pd.DataFrame(np.random.rand(5,2), index=[3, 2, 0, 4, 1], columns=['col3', 'col4'])
print(info)
info2 = info.sort_index()
print("\nSort index:\n", info2)
info3 = info.sort_values(by='col3')
print("\nSort Values:\n", info3)

DataFrame.Sort function:

       col3      col4
3  0.213408  0.528807
2  0.203257  0.817408
0  0.023394  0.879087
4  0.126232  0.124987
1  0.154989  0.177622

Sort index:
        col3      col4
0  0.023394  0.879087
1  0.154989  0.177622
2  0.203257  0.817408
3  0.213408  0.528807
4  0.126232  0.124987

Sort Values:
        col3      col4
0  0.023394  0.879087
4  0.126232  0.124987
1  0.154989  0.177622
2  0.203257  0.817408
3  0.213408  0.528807

In [19]:
print("\nDataFrame.Merge function:\n")
left = pd.DataFrame({'id': [1, 2, 3, 4, 5],
                     'Name': ['Aravind', 'Arjun', 'Kavin', 'Midhun', 'Anish'],
                     'sub': ['sub1', 'sub2', 'sub4', 'sub6', 'sub5']})
right = pd.DataFrame({'id': [1, 2, 3, 4, 5],
                      'Name': ['Sandhya', 'Keerthi', 'Lakshitha', 'Shivane', 'Priya'],
                      'sub': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5']})
print(left)
print(right)
print(pd.merge(left, right, on='id'))

DataFrame.Merge function:

   id     Name   sub
0   1  Aravind  sub1
1   2    Arjun  sub2
2   3    Kavin  sub4
3   4   Midhun  sub6
4   5    Anish  sub5
   id       Name   sub
0   1    Sandhya  sub2
1   2    Keerthi  sub4
2   3  Lakshitha  sub3
3   4    Shivane  sub6
4   5      Priya  sub5
   id   Name_x sub_x     Name_y sub_y
0   1  Aravind  sub1    Sandhya  sub2
1   2    Arjun  sub2    Keerthi  sub4
2   3    Kavin  sub4  Lakshitha  sub3
3   4   Midhun  sub6    Shivane  sub6
4   5    Anish  sub5      Priya  sub5